@import "@styles/vars";

.grid-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 30rem;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 50rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
}

@media (max-width: 576px) {
  .container {
    width: 20rem;
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
}
